@import "bootstrap-sprockets"
@import "bootstrap"
@import 'bootstrap-datetimepicker'

body
  margin-top: 60px

#new_person, .edit_person
  .col-sm-6
    padding-left: 0
  .form-control
    width: 250px
